@import './resets.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #f9fafb;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

@layer components {
	.tab-button {
		@apply py-2 px-4 bg-gray-300 text-gray-800 rounded-t-md;
	}
	.selected {
		@apply bg-gray-800 text-white;
	}
}
